.served-cell {
    display: none;
}
.pending-text {
    color: var(--color-warning);
}
.attended-text {
    color: var(--color-success);
}
/* Estilo base del botón */
.atender-btn {
    background-color: var(--color-danger); /* Fondo rojo */
    color: white; /* Texto en blanco */
    padding: 5px 10px; /* Espaciado interior */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Estilo al pasar el mouse (hover) */
.atender-btn:hover {
    background-color: darkred; /* Cambio de color de fondo al pasar el mouse */
}

.logout{
    text-align: center;
}

.logout a {
    text-decoration: none;
    color: var(--color-info-dark);
}

.logout a:hover {
    color: var(--color-primary); /* Cambia el color al pasar el mouse sobre el enlace */
    /* Agrega cualquier otra propiedad que desees para el efecto hover */
}

