.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: white;
    padding: 8px 12px; /* Ajusta el espacio interno horizontal */
    text-decoration: none;
    margin: 0 4px; /* Ajusta el espacio entre botones */
    border-radius: 4px;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-primary {
    background-color: #007bff;
}

.active {
    background-color: #6c757d;
}